<!--<wj-flex-grid [ngClass]="{'animated': animated}"-->
<!--              headersVisibility="Column"-->
<!--              showSelectedHeaders="All"-->
<!--              [alternatingRowStep]="0"-->
<!--              [showMarquee]="true"-->
<!--              [autoGenerateColumns]="false"-->
<!--              [columnGroups]="columnGroups"-->
<!--              [itemsSource]="data">-->
<!--</wj-flex-grid>-->

<wj-flex-grid #flex
              [ngClass]="{'animated': bIsAnimated}"
              [columnGroups]="columnGroups"
              [itemsSource]="data"
              [frozenRows]="1"
              (loadedRows)="onloadedRows(flex)"
              (initialized)="initializeGrid(flex)">
</wj-flex-grid>

<!--<wj-flex-grid #flex-->
<!--              [frozenRows]="1"-->
<!--              [itemsSource]="data">-->
<!--  <wj-flex-grid-column [binding]="'id'" [header]="'ID'" [width]="60" [isReadOnly]="true"></wj-flex-grid-column>-->
<!--  <wj-flex-grid-column [binding]="'country'" [header]="'Country'"></wj-flex-grid-column>-->
<!--  <wj-flex-grid-column [binding]="'product'" [header]="'Product'"></wj-flex-grid-column>-->
<!--  <wj-flex-grid-column [binding]="'sales'" [header]="'Sales'" [aggregate]="'Sum'"></wj-flex-grid-column>-->
<!--  <wj-flex-grid-column [binding]="'expenses'" [header]="'Expenses'" [aggregate]="'Sum'"></wj-flex-grid-column>-->
<!--</wj-flex-grid>-->
