<!--<div class="container">-->
<!--  <div [formGroup]="formGroup" class="custom-form">-->
<!--    <label style="margin-bottom: 10px">Tên tài khoản</label>-->
<!--    <app-input-login [messageValidate]="validateUserName" class="mt-2" formControlName="username"></app-input-login>-->
<!--    <br>-->
<!--    <label class="mt-3">Mật khẩu</label>-->
<!--    <app-input-login class="mt-2" [zType]="'password'" formControlName="password"></app-input-login>-->
<!--    <br>-->
<!--    <label class="mt-3">Email</label>-->
<!--    <app-input-login class="mt-2" [zType]="'email'" formControlName="email"></app-input-login>-->
<!--  </div>-->
<!--</div>-->

<app-grid></app-grid>
